
.Tooltip {
  // use positioning relative to viewport (window)
  // https://developer.mozilla.org/en-US/docs/Web/CSS/position
  position: fixed;
  margin: 0 !important;
  background: $mainBackground;
  font-size: small;
  font-weight: normal;
  border: 1px solid $borderColor;
  border-radius: $radius;
  color: $textColorSecondary;
  white-space: normal;
  padding: .5em;
  text-align: center;
  pointer-events: none;
  transition: opacity 150ms 25ms ease-in-out;
  z-index: 100000;

  &.hidden {
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  &:empty {
    display: none;
  }

  &.formatter {
    &.nowrap {
      &, * {
        white-space: nowrap;
      }
    }

    &.narrow {
      max-width: 300px;
      text-overflow: ellipsis;
      word-wrap: break-word;
      text-align: left;
    }

    &.small {
      font-size: $font-size-small;
    }

    &.warning {
      color: $colorError;
    }

    &.tableView {
      min-width: 200px;

      > :not(:last-child) {
        margin-bottom: var(--flex-gap);
      }

      .title {
        color: $textColorAccent;
        text-align: center;
      }

      .name {
        color: $textColorAccent;
        text-align: right;
        flex: 0 0 35%;
      }

      .value {
        text-align: left;
        max-width: 300px;
        word-break: break-word;
      }
    }
  }
}