.CatalogAddButton {
  position: absolute;
  right: 40px;
  bottom: 30px;

  .MuiFab-primary {
    background-color: var(--blue);

    &:hover {
      background-color: #317bb3;
    }
 }
}

.MuiTooltip-popper {
  .MuiTooltip-tooltip {
    background-color: #222;
    font-size: 12px
  }

  .MuiTooltip-arrow {
    color: #222;
  }
}