.LandingPage {
  --width: 100%;
  --height: 100%;

  .content-wrapper {
    .content {
      margin: unset;
      max-width: unset;
      height: 100%;
    }
  }
}

.TableCell.status {
  &.connected {
    color: var(--colorSuccess);
  }

  &.disconnected {
    color: var(--halfGray);
  }
}
