.CatalogPage {
  --width: 100%;
  --height: 100%;
  --nav-column-width: 200px;

  .sidebarRegion {
    justify-content: flex-start;
    background-color: var(--sidebarBackground);

    .sidebarHeader {
      background: var(--sidebarLogoBackground);
      height: var(--main-layout-header);
      padding: 4px;
      color: var(--textColorAccent);
      font-weight: bold;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    > .sidebar {
      width: 100%;

      .sidebarTabs {
        margin-top: 5px;

        .Tab {
          padding: 7px 10px;
          font-weight: normal;
          font-size: 14px;
          border-radius: 0;
          height: 36px;

          &.active {
            background-color: var(--blue);
            color: white;
          }
        }
      }
    }
  }

  .contentRegion {
    > .content {
      padding: 20px 20px;
    }
  }

  .TableCell.status {
    &.connected {
      color: var(--colorSuccess);
    }

    &.disconnected {
      color: var(--halfGray);
    }
  }
}
