apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: lens-metrics
  labels:
    name: kube-state-metrics
  annotations:
    prometheus.io/scrape: 'true'
spec:
  ports:
  - name: metrics
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    name: kube-state-metrics
