.AddCluster {
  .Select {
    .kube-context {
      --flex-gap: #{$padding};
    }

    &__control {
      box-shadow: 0 0 0 1px $borderFaintColor;
    }
  }

  .kube-config-select {
    border: 1px solid $borderFaintColor;
    padding: $padding / 2 $padding;
    border-radius: $radius;
    transition: border 200ms ease-in-out;

    &.droppable,
    &:hover {
      border-color: $primary;
      cursor: pointer;
    }

    > * {
      pointer-events: none;
    }

    > .title {
      white-space: nowrap;
    }

    code {
      word-break: break-all;
    }
  }

  code {
    color: $pink-400;
  }
}
