.ClusterIcon {
  --size: 37px;

  position: relative;
  border-radius: $radius;
  padding: $radius;
  user-select: none;
  cursor: pointer;

  &.interactive {
    img {
      opacity: .55;
    }
  }

  div.MuiAvatar-colorDefault {
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 1px 1px black;
  }

  img {
    width: var(--size);
    height: var(--size);
  }

  &.active, &.interactive:hover {
    background-color: #fff;
    div {
      background-color: var(--primary);
    }
  }

  .Badge {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: -$padding;
    font-size: $font-size-small;
    background: $colorError;
    color: white;
  }
}
