.LogList {
  flex-grow: 1;
  overflow: auto;
  color: var(--logsForeground);
  background: var(--logsBackground);
}

.virtualizer {
  width: 100%;
  position: relative;
}

.rowWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: var(--font-monospace);
  font-size: smaller;
  line-height: 120%;
  white-space: nowrap;

  > * {
    -webkit-font-smoothing: auto; // Better readability on non-retina screens
  }

  &.wrap {
    white-space: normal;
  }
}

.firstLine {
  width: 100%;
  height: 1px;
  top: 0;
  background-color: var(--logsBackground);
  position: absolute;
}

.lastLine {
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: var(--logsBackground);
  position: absolute;
}