.PageLayout.LandingOverview {
  --width: 100%;
  --height: 100%;
  text-align: center;



  .content-wrapper {

    .content {
      margin: unset;
      max-width: unset;
      height: 100%;
    }
  }
}
