.LandingPage {
  height: 100%;
  background: #282b2f url(../../components/icon/crane.svg) no-repeat;
  background-position: 0 35%;
  background-size: 85%;
  background-clip: content-box;
  text-align: center;
}