.WorkspaceClusterIcon {
  --size: 21px;

  position: relative;
  border-radius: $radius;
  padding: $radius;
  user-select: none;
  cursor: pointer;

  img {
    width: var(--size);
    height: var(--size);
  }
}