.WorkspaceOverview {
  max-height: 50%;
  .Table {
    padding-bottom: 60px;
  }
  .TableCell {
    display: flex;
    align-items: left;

    &.cluster-icon {
      align-items: center;
      flex-grow: 0.2;
      padding: 0;
    }

    &.connected {
      color: var(--colorSuccess);
    }
  }

  .TableCell.status {
    flex: 0.1;
  }

  .TableCell.distribution {
    flex: 0.2;
  }

  .TableCell.version {
    flex: 0.2;
  }
}
