//-- Mixins
@import "+workloads/workloads-mixins";
@import "+storage/storage-mixins";
@import "+nodes/nodes-mixins";
@import "+namespaces/namespaces-mixins";
@import "table/table.mixins";
@import "+network/network-mixins";

// todo: re-use in other places with theming
@mixin custom-scrollbar-themed($invert: false) {
  @if ($invert) {
    @include custom-scrollbar(dark);
    .theme-light & {
      @include custom-scrollbar(light);
    }
  } @else {
    // fits better with dark background
    @include custom-scrollbar(light);
    .theme-light & {
      @include custom-scrollbar(dark);
    }
  }
}

@mixin custom-scrollbar($theme: light, $size: 7px, $borderSpacing: 5px) {
  $themes: (
    light: #5f6064,
    dark: #bbb,
  );

  $scrollBarColor: if(map_has_key($themes, $theme), map_get($themes, $theme), none);
  $scrollBarSize: calc(#{$size} + #{$borderSpacing} * 2);

  overflow: auto; // allow scrolling for container

  // Webkit
  &::-webkit-scrollbar {
    width: $scrollBarSize;
    height: $scrollBarSize;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollBarColor;
    background-clip: padding-box;
    border: $borderSpacing solid transparent;
    border-radius: $scrollBarSize;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// Hide scrollbar but keep the element scrollable
@mixin hidden-scrollbar {
  overflow: auto;
  // Chrome, Safari
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

@mixin stripeLinesAnimation($color1: #ccc, $color2: transparent, $spacing: 1rem) {
  background: repeating-linear-gradient(-45deg, $color2, $color2, $spacing, $color1 $spacing, $color1 $spacing * 2);
  background-size: 200% 200%;
  animation: stripeLines 10s linear infinite;

  @keyframes stripeLines {
    100% {
      background-position: 100% 100%;
    }
  }
}

@mixin pseudo-link($color: $primary) {
  color: $color;
  text-decoration: underline;
  cursor: pointer;
}

@mixin set-draggable($is-draggable: true) {
  @if ($is-draggable) {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  } @else {
    -webkit-app-region: no-drag;
  }
}
