.ItemListLayout {
  background: $contentColor;
  height: 100%;

  > .header {
    --flex-gap: #{$padding * 2};
    padding: var(--flex-gap);

    .title {
      color: $textColorPrimary;
    }

    .info-panel {
      text-align: center;
      white-space: nowrap;
    }

    .NamespaceSelect {
      .Select {
        &__value-container {
          margin-bottom: 0;
        }
      }
    }
  }

  > .items {
    position: relative;
    min-height: 200px;
  }

  .TableCell {
    &.menu {
      @include table-cell-action;
    }
  }
}

