.ItemListLayout {
  background: $contentColor;
  height: 100%;

  > .header {
    --flex-gap: #{$padding * 2};
    padding: var(--flex-gap);

    .title {
      color: $textColorPrimary;
    }

    .info-panel {
      text-align: center;
      white-space: nowrap;
    }

    .NamespaceSelect {
      .Select {
        &__value-container {
          margin-bottom: 0;
        }
      }
    }
  }

  > .items {
    position: relative;
    min-height: 200px;
  }

  .TableHead {
    .TableCell {
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      .TableCell {
        .resize-anchor {
          opacity: 1;
        }
      }
    }
  }

  .TableCell {
    position: relative;

    &.menu {
      @include table-cell-action;
    }
    .resize-anchor {
      transition: opacity 0.3s;
      opacity: 0;
      right: 0;
      user-select: none;
      cursor: col-resize;
      transform: rotate(90deg);
      color: var(--textColorPrimary);

      &:hover {
        color: white;
      }
    }
  }
}

.ItemListLayoutVisibilityMenu {
  .MenuItem {
    padding: 0;
  }

  .Checkbox {
    width: 100%;
    padding: var(--spacing);
    cursor: pointer;
  }
}
