.SidebarItem {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  user-select: none;

  > .navItem {
    display: flex;
    gap: 8px;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    cursor: pointer;

    &:global(.active), &:hover {
      background: var(--blue);
      color: var(--sidebarActiveColor);
    }

    span {
      word-break: break-word;
    }
  }

  .expandIcon {
    margin-left: auto;
  }

  .subMenu {
    .SidebarItem {
      .navItem {
        padding-left: 34px
      }
    }
  }

   // 3rd menu level
  .subMenu .subMenu {
    &.active {
      border-color: transparent;
    }

    .SidebarItem {
      padding-left: calc(var(--padding) / 2);
    }
  }
}

