.SidebarItem {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  user-select: none;

  // Do not highlight active state when item expanded
  &[aria-expanded='true'] {
    > .navItem:global(.active) {
      background-color: transparent;
      color: var(--textColorPrimary);
    }

    >.navItem:hover {
      background: var(--sidebarLogoBackground);
    }
  }

  > .navItem {
    display: flex;
    gap: 8px;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    cursor: pointer;

    &:hover {
      background: var(--sidebarLogoBackground);
    }

    &:global(.active) {
      background: var(--blue);
      color: var(--sidebarActiveColor);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .expandIcon {
    margin-left: auto;
  }

  .subMenu {
    .SidebarItem {
      &[data-expandable="true"] {
        > .navItem {
          > span {
            font-weight: bolder;
            color: var(--textColorAccent);
            opacity: 0.7;
          }
        } 
      }

      .navItem {
        padding-left: 34px
      }
    }
  }

   // 3rd menu level
  .subMenu .subMenu {
    &.active {
      border-color: transparent;
    }
  }
}

