{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@lingui/babel-preset-react"
  ],
  "plugins": [
    "macros",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
