dist/
node_modules/
.DS_Store
yarn-error.log
coverage/
tmp/
static/build
static/types
binaries/client/
binaries/server/
src/extensions/*/*.js
src/extensions/*/*.d.ts
src/extensions/example-extension/src/**
locales/**/**.js
lens.log
