dist/
node_modules/
.DS_Store
yarn-error.log
coverage/
tmp/
locales/**/**.js
lens.log
static/build
static/types
binaries/client/
binaries/server/
src/extensions/*/*.js
src/extensions/*/*.d.ts
types/extension-api.d.ts
types/extension-renderer-api.d.ts
extensions/*/dist
docs/extensions/api