@import "./autoscaler.mixins";

.HorizontalPodAutoscalers {
  .TableCell {
    &.name {
      flex: 1.5;
    }

    &.metrics {
      flex: 1.5;
    }

    &.status {
      flex: 1.5;
      @include table-cell-labels-offsets;

      .Badge {
        @include hpa-status-bgc;
      }
    }

    &.age {
      flex: .5;
    }
  }
}