.BottomBar {
  $spacing: $padding / 2;

  font-size: $font-size-small;
  background-color: #3d90ce;
  padding: $padding / 4 $padding;
  color: white;

  #current-workspace {
    --flex-gap: #{$spacing};
    cursor: pointer;
  }
}
