.BottomBar {
  $spacing: $padding / 2;
  --flex-gap: #{$spacing};

  background-color: var(--blue);
  padding: 0 2px;
  height: 22px;

  #current-workspace {
    font-size: var(--font-size-small);
    color: white;
    padding: $padding / 4 $padding / 2;
    cursor: pointer;

    &:hover {
      background-color: #ffffff33;
      cursor: pointer;
    }
  }

  .extensions {
    font-size: var(--font-size-small);
    color: white;
    .item {
      padding: $padding / 4 $padding / 2;
      &:hover {
        background-color: #ffffff33;
        cursor: pointer;
      }
    }
  }
}
