.BottomBar {
  font-size: $font-size-small;
  background-color: #3d90ce;
  padding: $padding / 2 $padding;
  color: white;

  #workspace {
    cursor: pointer;
  }
}

#workspace-menu {
  border-radius: $radius;

  .workspaces-title {
    padding: $padding;
  }
}