.ClustersMenu {
  $spacing: $padding * 2;

  position: relative;
  text-align: center;
  background: $clusterMenuBackground;
  border-right: 1px solid $clusterMenuBorderColor;
  padding: $spacing 0;
  min-width: 75px;

  .is-mac &:before {
    content: "";
    height: 20px; // extra spacing for mac-os "traffic-light" buttons
  }

  .clusters {
    @include hidden-scrollbar;
    padding: 0 $spacing; // extra spacing for cluster-icon's badge
    margin-bottom: $spacing;

    > :last-child {
      margin-bottom: $margin;
    }

    &:empty {
      display: none;
    }
  }

  > .add-cluster {
    position: relative;

    .Icon {
      border-radius: $radius;
      padding: $padding / 3;
      color: $addClusterIconColor;
      background: #ffffff66;
      cursor: pointer;

      &.active {
        opacity: 1;
      }

      &:hover {
        box-shadow: none;
        background: #ffffff;
      }
    }

    .Badge {
      $boxSize: 17px;
      $offset: -7px;

      position: absolute;
      font-size: $font-size-small;
      right: $offset;
      bottom: $offset;
      line-height: $boxSize;
      min-width: $boxSize;
      min-height: $boxSize;
      text-align: center;
      color: white;
      background: $colorSuccess;
      font-weight: normal;
      border-radius: $radius;
      padding: 0;
      pointer-events: none;
    }
  }
}