.ClusterManager {
  display: grid;
  grid-template-areas: "draggable draggable" "menu lens-view" "bottom-bar bottom-bar";
  grid-template-rows: auto 1fr min-content;
  grid-template-columns: min-content 1fr;
  height: 100%;

  .draggable-top {
    @include set-draggable;
    grid-area: draggable;
    height: 25px;
  }

  #lens-view {
    position: relative;
    grid-area: lens-view;
  }

  .ClustersMenu {
    grid-area: menu;
  }

  .BottomBar {
    grid-area: bottom-bar;
  }
}