.ClusterManager {
  display: grid;
  grid-template-areas: "menu main" "menu main" "bottom-bar bottom-bar";
  grid-template-rows: auto 1fr min-content;
  grid-template-columns: min-content 1fr;
  height: 100%;

  main {
    position: relative;
    grid-area: main;
    display: flex;
  }

  .ClustersMenu {
    grid-area: menu;
  }

  .BottomBar {
    grid-area: bottom-bar;
  }
}