.ClusterManager {
  display: grid;
  grid-template-areas: "menu lens-view" "menu lens-view" "bottom-bar bottom-bar";
  grid-template-rows: auto 1fr min-content;
  grid-template-columns: min-content 1fr;
  height: 100%;

  #lens-view {
    position: relative;
    grid-area: lens-view;

    &.inactive {
      opacity: .85;
      filter: grayscale(1);
      user-select: none;
      pointer-events: none;
    }
  }

  .ClustersMenu {
    grid-area: menu;
  }

  .BottomBar {
    grid-area: bottom-bar;
  }
}