.Slider {
  .track {
    background: $lensBlue;
  }

  .thumb {
    background: $lensBlue;

    &.activated, &.jumped, &.focused {
      box-shadow: 0 0 0 $unit * 2 rgba($lensBlue, 0.16)!important;
    }

    &:hover{
      box-shadow: 0 0 0 $unit rgba($lensBlue, 0.16);
    }
  }
}