.AceEditor {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  z-index: 10;

  .theme-light & {
    border: 1px solid gainsboro;
  }

  > .editor {
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 90%;
  }

  // --Theme customization

  .ace-terminal-theme {
    background: var(--dockEditorBackground) !important;
  }

  .ace_gutter {
    color: #a0a0a0;
    background-color: var(--dockEditorBackground);
  }

  .ace_line {
    color: var(--dockEditorKeyword);
  }

  .ace_active-line,
  .ace_gutter-active-line {
    background: var(--dockEditorActiveLineBackground) !important;
  }

  .ace_meta.ace_tag {
    color: var(--dockEditorTag);
  }

  .ace_constant {
    color: var(--lensBlue) !important;
  }

  .ace_keyword {
    color: var(--dockEditorKeyword);
  }

  .ace_string {
    color: var(--colorOk);
  }

  .ace_comment {
    color: var(--dockEditorComment);
  }
}