.controls {
  @include hidden-scrollbar;

  display: flex;
  gap: var(--padding);
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  background: var(--dockInfoBackground);
  padding: var(--padding) calc(var(--padding) * 2);
}