.MenuPicker {
  &.waiting {
    .MenuItem {
      pointer-events: none;
      opacity: .75;
    }
  }

  > .Button {
    padding: $padding /2 $padding * 2;
  }

  .menu-header {
    background: var(--bgc-active);
    padding: $padding;
    display: flex;
    align-items: center;
    color: $textColorAccent;
    font-weight: bold;

    &:hover {
      background: var(--bgc-active) !important;
    }
  }

  .Menu {
    @include custom-scrollbar;

    border-radius: $radius;
    box-shadow: -$unit / 2 $unit / 2 22px $boxShadow;
    margin-top: ceil($margin / 1.33);
    overflow: hidden;
    min-width: 150px;
    max-height: $unit * 35;
  }

  .MenuItem {
    align-items: center;
    display: flex;
    padding-right: $padding;
    white-space: normal;

    &:before {
      min-width: 20px;
      font-family: "Material Icons";
      font-weight: bold;
      content: ' '
    }

    &:hover {
      background: $colorInfo;
    }

    &.active {
      font-weight: bold;

      &:not(:hover) {
        background: inherit;
      }

      &:before {
        content: 'check';
      }
    }

    &:focus {
      outline: none
    }

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }
}