.notFound {
  @apply flex items-center justify-center h-24;
  color: var(--textColorDimmed);
}

.searchInput>label {
  box-shadow: none!important;
}

.listLayout {
  background: var(--contentColor);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  gap: calc(var(--padding) * 2);
}