.tableTheme {
  height: 708px;
  overflow: auto;

  table {
    table-layout: fixed;
    width: 100%;
  }
  
  thead {
    border-bottom: thin solid var(--hrColor);
    color: var(--textColorAccent);
    height: 33px;
    // position: sticky;
    // top: 0;
  }
  
  thead tr {
    // margin: 0 var(--margin);
  }
  
  tr {
    // margin: calc(var(--margin) * 1.6) var(--margin);
  }
  
  th {
    white-space: nowrap;
    text-align: left;
    // padding: 0 var(--padding);
    font-weight: 500;
  }
  
  .headIcon {
    font-weight: normal;
    color: var(--textColorAccent);
  }
  
  .disabledArrow {
    opacity: 0.3;
  }
  
  td {
    padding: 0 var(--padding);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
