.sortableColumn {
  cursor: pointer;
  user-select: none;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 2px;
  border-radius: 3px;
  background: var(--textColorDimmed);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: var(--textColorAccent);
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
    background: var(--textColorTertiary)
  }
}