.Table {
  &.autoSize {
    .TableCell {
      flex: 1 0;
    }
  }

  &.scrollable {
    overflow: auto;
  }

  &.selectable {
    .TableHead, .TableRow {
      padding: 0 $padding;
    }

    .TableRow {
      cursor: pointer;

      &:hover {
        background-color: $tableBgcSelected !important;
      }

      &.selected {
        background-color: $tableBgcSelected;
        color: $tableSelectedRowColor;

        &:before {
          content: "";
          background: $primary;
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
        }
      }
    }
  }

  &.striped {
    .TableRow {
      &:nth-child(odd) {
        background-color: $tableBgcStripe;
      }
    }
  }
}