.Cluster {
  $gridGap: $margin * 2;

  position: relative;
  height: 100%;
  min-height: 650px;
  display: grid;
  grid-gap: $gridGap;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr 1fr;

  @include media(">1600px") {
    grid-template-columns: 1fr 1fr;
  }

  > *:not(.Spinner) {
    padding: $gridGap;
    background: $contentColor;

    > .SubHeader {
      padding-top: 0;
    }
  }
}