.Badge {
  display: inline-block;
  background: $colorVague;
  color: $textColorSecondary;
  border-radius: $radius;
  padding: .2em .4em;
  white-space: nowrap;
  max-width: 100%;
  position: relative;

  >.children {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.small {
    font-size: $font-size-small;
  }

  &.expanded {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }

  > .expansionIcon {
    transform: scaleX(-1);
    position: absolute;
    z-index: 1;
    right: -10px;
    bottom: -10px;
    color: $textColorAccent;
    background-color: $halfGray;
    border-radius: 50%;
    padding: 2px;
  }
}
