.Badge {
  position: relative;
  display: inline-block;
  background: $colorVague;
  color: $textColorSecondary;
  border-radius: $radius;
  padding: .2em .4em;
  max-width: 100%;

  &.interactive:hover {
    background-color: $mainBackground;
    cursor: pointer;
  }

  &:not(.isExpanded) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.small {
    font-size: $font-size-small;
  }
}
