.Badge {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(.flat) {
    background: $colorVague;
    color: $textColorSecondary;
    border-radius: $radius;
    padding: .2em .4em;
  }

  &.small {
    font-size: $font-size-small;
  }
}