@import "cert-manager.mixins";

.Certificates {
  .TableCell {
    &.name {
      flex: 1.2;
    }

    &.type {
      flex: .5;
    }

    &.status {
      flex: .5;
      @include table-cell-labels-offsets;

      .Badge {
        @include cert-status-bgc;
      }
    }

    &.age {
      flex: .5;
    }
  }
}