.WhatsNew {
  $spacing: $padding * 2;

  background: $mainBackground url(../../components/icon/crane.svg) no-repeat;
  background-position: 0 35%;
  background-size: 85%;
  background-clip: content-box;

  .logo {
    width: 200px;
    margin-bottom: $spacing;
  }

  > .content {
    @include custom-scrollbar;
    margin-top: $spacing;
    padding: $spacing * 2;

    a {
      color: $colorInfo;
      text-decoration: underline;
    }

    ul {
      list-style: disc inside;
      line-height: 120%;
      padding-left: $spacing * 2;
    }
  }

  > .bottom {
    text-align: center;
    padding: $spacing;
    background: $contentColor;
  }
}