.WhatsNew {
  $spacing: $padding * 2;

  &::after {
    content: "";
    background: url(../../components/icon/crane.svg) no-repeat;
    background-position: 0 35%;
    background-size: 85%;
    background-clip: content-box;
    opacity: .75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    .theme-light & {
      opacity: 0.2;
    }
  }

  .logo {
    width: 200px;
    margin-bottom: $spacing;
  }

  > .content {
    @include custom-scrollbar;
    margin-top: $spacing;
    padding: $spacing * 2;

    a {
      color: $colorInfo;
      text-decoration: underline;
    }

    ul {
      list-style: disc inside;
      line-height: 120%;
      padding-left: $spacing * 2;
    }
  }

  > .bottom {
    text-align: center;
    padding: $spacing;
    background: $contentColor;
  }
}