@include theme-light {
  .NamespaceSelectFilter {
    --gradientColor: white;
  }
}

.namespace-select-filter {
  width: 300px;
  position: relative;

  .list-container {
    position: absolute;
    top: 30px;
    z-index: 10;
    background: var(--mainBackground);
    border-radius: var(--border-radius);

    li.option {
      cursor: pointer;
      padding: calc(var(--padding) / 2) var(--padding);
      list-style: none;

      &:hover {
        color: white;
      }

      .selected-icon:hover {
        color: var(--buttonAccentBackground);
      }

      .add-selection-icon:hover {
        color: var(--colorSuccess);
      }
    }
  }

  .menu {
    width: 300px;
    border-radius: var(--border-radius);
    border: 1px solid;
    border-color: var(--halfGray);
    padding: calc(var(--padding) / 2) var(--padding);
    display: flex;

    .non-icon {
      width: -webkit-fill-available;
      position: relative;

      input {
        width: 100%;
        background: transparent;
      }

      label {
        white-space: nowrap;
        overflow: scroll hidden!important;
        text-overflow: unset!important;
        margin-left: -16px;
        padding-left: 8px;
        padding-right: 8px;
        width: calc(100% + 4px);
        position: absolute;
        left: 9px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .gradient {
        position: absolute;
        width: 10px;
        top: 0;
        height: 20px;
        z-index: 21;

        &.left {
          left: -7px;
          background: linear-gradient(to right, var(--contentColor) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &.right {
          right: 2px;
          background: linear-gradient(to left, var(--contentColor) 0%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }
}
