.subnamespaceBadge {
  border-radius: 2px;
  padding: 0px 4px;
  border: 1px solid cadetblue;
  color: cadetblue;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.3;
}