.subnamespaceBadge {
  border-radius: 3px;
  padding: 0px 4px;
  border: 1px solid cadetblue;
  color: cadetblue;
  display: inline-flex;
  font-size: x-small;
  font-weight: bold;
  height: 16px;
  align-items: center;
}