@mixin namespaceSelectCommon {
  .Icon {
    margin-right: $margin / 2;
  }
}

.GradientControl {
  width: 8px;
  height: var(--font-size);
  position: absolute;
  z-index: 20;

  &.front {
    left: 0px;
    background: linear-gradient(to right, var(--layoutTabsBackground) 0px, transparent);
  }

  &.back {
    right: 28px;
    background: linear-gradient(to left, var(--layoutTabsBackground) 0px, transparent);
  }
}

.NamespaceSelect {
  @include namespaceSelectCommon;

  .Select {
    &__placeholder {
      width: 100%;
      white-space: nowrap;
      overflow: scroll;
      margin-left: -8px;
      padding-left: 8px;
      margin-right: -8px;
      padding-right: 8px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.NamespaceSelectMenu {
  @include namespaceSelectCommon;
}
