@include theme-light {
  .NamespaceSelectFilter {
    --gradientColor: white;
  }
}

.NamespaceSelectFilter {
  --gradientColor: var(--select-menu-bgc);

  .Select {
    &__placeholder {
      width: 100%;
      white-space: nowrap;
      overflow: scroll!important;
      text-overflow: unset!important;
      margin-left: -8px;
      padding-left: 8px;
      margin-right: -8px;
      padding-right: 8px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__value-container {
      position: relative;

      &::before, &::after {
        content: ' ';
        position: absolute;
        z-index: 20;
        display: block;
        width: 8px;
        height: var(--font-size);
      }

      &::before {
        left: 0;
        background: linear-gradient(to right, var(--gradientColor) 0px, transparent);
      }

      &::after {
        right: 0;
        background: linear-gradient(to left, var(--gradientColor) 0px, transparent);
      }
    }
  }
}

.NamespaceSelectFilterMenu {
  right: 0;

  .Select {
    &__menu-list {
      max-width: 400px;
    }

    &__option {
      white-space: normal;
      word-break: break-all;
    }
  }

  .Icon {
    margin-right: $margin * 0.5;
  }
}