@mixin namespaceSelectCommon {
  .Icon {
    margin-right: $margin / 2;
  }
}

.GradientValueContainer {
  width: 8px;
  height: var(--font-size);
  position: absolute;
  z-index: 20;

  &.front {
    left: 0px;
    background: linear-gradient(to right, var(--contentColor) 0px, transparent);
  }

  &.back {
    right: 0px;
    background: linear-gradient(to left, var(--contentColor) 0px, transparent);
  }
}

.NamespaceSelect {
  @include namespaceSelectCommon;
}

.NamespaceSelectMenu {
  @include namespaceSelectCommon;
}
