.KubeEventDetails {
  .event {
    margin-bottom: $margin * 4;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      margin-top: $margin * 2;
      margin-bottom: $margin;
      font-weight: bold;
      word-break: break-word;

      &.warning {
        color: $colorError;
      }
    }
  }

  .no-items {
    text-align: center;
  }
}