.DeploymentDetails {
  .ReplicaSets {
    position: relative;
    min-height: 80px;

    .Table {
      margin: 0 (-$margin * 3);
    }

    .TableCell {
      &:first-child {
        margin-left: $margin;
      }

      &:last-child {
        margin-right: $margin;
      }

      &.name {
        flex-grow: 2;
      }

      &.warning {
        @include table-cell-warning;
      }

      &.namespace {
        flex-grow: 1.2;
      }

      &.actions {
        @include table-cell-action;
      }
    }
  }
}
