#command-container {
  position: absolute;
  top: 20px;
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: var(--dockInfoBackground);
}
