.KubeConfigDialog {
  &.light {
    .AceEditor {
      border: 1px solid gainsboro;
      border-radius: $radius;
    }
  }

  .Wizard {
    width: 50vw;
    min-width: 600px;
    --wizard-content-height: 600px;
  }

  .config-copy {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}