.Notifications {
  @include hidden-scrollbar;

  position: absolute;
  right: 0;
  top: 0;
  padding: $padding * 2;
  max-height: 100vh;
  z-index: 100000;
  height: min-content!important;

  &:empty {
    display: none;
  }

  .notification {
    flex: 0 0;
    padding: $padding;
    border-radius: 3px;
    min-width: 350px;
    max-width: 35vw;
    word-break: break-word;

    &:not(:last-child) {
      margin-bottom: $margin * 2;
    }

    .ButtonPannel button:not(:last-of-type) {
        margin-right: $margin;
    }

    > .message {
      white-space: pre-line;
      padding-left: $padding;
      padding-right: $padding * 2;

      a {
        color: inherit;
      }
    }

    @each $status, $color in (ok: $colorOk, error: $colorError, info: $colorInfo) {
      &.#{$status} {
        background: $color;
        color: $color-white;
        box-shadow: 0 0 20px $boxShadow;
      }
    }

    .close {
      margin-top: -2px;
    }
  }
}
