.HotbarMenu {
  .HotbarIcon {
    --size: 37px;

    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    transition: none;
    text-shadow: 0 0 4px #0000008f;
    position: relative;

    div.MuiAvatar-colorDefault {
      font-weight:500;
      text-transform: uppercase;
      border-radius: 6px;
    }

    &.active {
      box-shadow: 0 0 0px 3px var(--clusterMenuBackground), 0 0 0px 6px var(--textColorAccent);
      transition: all 0s 0.8s;
    }

    &.active, &.interactive:hover {
      img {
        opacity: 1;
      }
    }

    &:hover {
      &:not(.active) {
        box-shadow: 0 0 0px 3px var(--clusterMenuBackground), 0 0 0px 6px #ffffff30;
      }
    }

    &.isDragging {
      box-shadow: none;
    }

    > .led {
      position: absolute;
      left: 3px;
      top: 3px;
      background-color: var(--layoutBackground);
      border: 1px solid var(--clusterMenuBackground);
      border-radius: 50%;
      padding: 0px;
      width: 8px;
      height: 8px;

      &.online {
        background-color: var(--primary);
        box-shadow: 0 0 5px var(--clusterMenuBackground), 0 0 5px var(--primary);
      }
    }

    .badge {
      position: absolute;
      right: -2px;
      bottom: -3px;
      margin: -8px;
      font-size: var(--font-size-small);
      background: var(--clusterMenuBackground);
      color: var(--textColorAccent);
      padding: 0px;
      border-radius: 50%;
      border: 2px solid var(--clusterMenuBackground);
      width: 15px;
      height: 15px;

      svg {
        width: 13px;
      }
    }

    img {
      width: var(--size);
      height: var(--size);
    }
  }

  .HotbarIconMenu {
    left: 30px;
    min-width: 250px;

    li.MenuItem {
      font-size: 0.9em;
    }
  }
}
