.Workspaces {
  .workspace {
    --flex-gap: #{$padding};
    padding: $padding / 2;

    &.default {
      font-style: italic;
    }

    > .description {
      flex: 1;
    }

    &:not(.enabled) {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}