.PageLayout {
  --width: 60%;
  --nav-width: 180px;
  --nav-column-width: 30vw;
  --spacing: calc(var(--unit) * 2);

  position: relative;
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template-columns: 1fr;

  &.showNavigation {
    --width: 75%;

    grid-template-columns: var(--nav-column-width) 1fr;

    > .content-wrapper {
      > .content {
        width: 100%;
        padding-left: 1px; // Fix visual content crop
        padding-right: calc(var(--nav-column-width) - var(--nav-width));
      }
    }
  }

  // covers whole app view area
  &.showOnTop {
    position: fixed !important; // allow to cover ClustersMenu
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: unset;
    background-color: var(--mainBackground);
  }

  > .sidebarRegion {
    display: flex;
    justify-content: flex-end;
    overflow-y: auto;
    background-color: var(--secondaryBackground);

    .sidebar {
      width: 218px;
      padding: 60px 6px 60px 20px;

      .Tabs {
        .header {
          padding: 6px 10px;
          font-size: 13px;
          font-weight: 800;
          line-height: 16px;
          text-transform: uppercase;
          color: var(--textColorSecondary);

          &:first-child {
            padding-top: 0;
          }
        }

        .Tab {
          padding: 6px 10px;
          margin-bottom: 2px;
          border-radius: 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          cursor: pointer;

          &::after {
            content: none;
          }

          &:hover {
            background-color: #4f545c29;
            color: #dcddde;
          }

          &.active {
            background-color: #4f545c52;
          }
        }
      }
    }
  }

  > .contentRegion {
    overflow: auto;

    > .content {
      width: var(--width);
      padding: 60px 40px 80px;
    }
  }

  p {
    line-height: 140%;
  }

  a {
    color: var(--colorInfo);
  }

  .SubTitle {
    text-transform: none;
    margin-bottom: 0 !important;
  }

  .Select {
    &__control {
      box-shadow: 0 0 0 1px #20222580;
      background: #00000021;
    }

    :hover {
      &.Select__control {
        box-shadow: 0 0 0 1px #07080880;
      }
    }

    :focus-within {
      &.Select__control {
        box-shadow: 0 0 0 1px $colorInfo;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing);

    > :not(:last-child) {
      margin-bottom: var(--spacing);
    }

    h1, h2 {
      color: var(--textColorAccent);
      text-transform: uppercase;
    }

    h1 {
      font-size: x-large;
      border-bottom: 1px solid var(--borderFaintColor);
      padding-bottom: var(--padding);
    }

    h2 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }

    small.hint {
      margin-top: calc(var(--unit) * -1.5);
    }

    .SubTitle {
      margin-top: 0;
    }
  }
}
