.Sidebar {
  --iconSize: 24px;

  &.compact {
    .sidebar-nav {
      @include hidden-scrollbar; // fix: scrollbar overlaps icons
    }
  }

  .header {
    background: $sidebarLogoBackground;
    padding: $padding / 2;

    .header-nav {
      height: calc(var(--iconSize) + 8);

      span {
        margin: auto 4px;
      }
    }

    a {
      font-size: 18.5px;
      text-decoration: none;
    }

    .lens-logo {
      margin: 4px;
    }

    svg {
      font-size: var(--iconSize);
    }

    .pin-icon {
      padding: unset;
    }
  }

  .sidebar-nav {
    padding: $padding / 1.5 0;
    overflow: auto;

    svg {
      font-size: var(--iconSize);
      margin-left: 3px;
    }

    hr {
      background-color: transparent;
    }
  }

  .loading {
    padding: $padding;
    text-align: center;
  }
}
