.SidebarItem {
  $itemSpacing: floor($unit / 2.6) floor($unit / 1.6);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  user-select: none;

  .nav-item {
    padding: $itemSpacing;
    border: none;
    cursor: pointer;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      vertical-align: middle;
      flex-grow: 1;
      min-width: 100px;
    }

    &.active, &:hover {
      background: $lensBlue;
      color: $sidebarActiveColor;
    }

    .expand-icon {
      --size: 20px;
    }
  }

  .sub-menu {
    border-left: 4px solid transparent;

    &:empty, .compact & {
      display: none;
    }

    &.active {
      border-left-color: $lensBlue;
    }

    a, .SidebarItem {
      display: block;
      border: none;
      text-decoration: none;
      color: $textColorPrimary;
      font-weight: normal;
      padding-left: 40px; // parent icon width
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 0px; // hidden by default
      height: 0px;
      opacity: 0;
      transition: 125ms line-height ease-out, 200ms 100ms opacity;

      &.visible {
        line-height: 28px;
        height: auto;
        opacity: 1;
      }

      &.active, &:hover {
        color: $sidebarSubmenuActiveColor;
      }
    }
  }
}