.SidebarItem {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  user-select: none;

  > .navItem {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    padding: 3px 6px;
    width: 100%;
    height: 100%;
    color: inherit;
    cursor: pointer;

    &:global(.active), &:hover {
      background: var(--blue);
      color: var(--sidebarActiveColor);
    }
  }

  .expandIcon {
    margin-left: auto;
  }

  .subMenu {
    border-left: 4px solid transparent;

    &.active {
      border-color: var(--blue);
    }
  
    > .SidebarItem {
      color: var(--textColorPrimary);
      padding-left: 28px;
  
      .navItem {
        &:global(.active), &:hover {
          color: var(--sidebarSubmenuActiveColor);
          background: none;
        }
      }
    }
  }

   // 3rd menu level
  .subMenu .subMenu {
    &.active {
      border-color: transparent;
    }

    .SidebarItem {
      padding-left: calc(var(--padding) / 2);
    }
  }
}

