
.TabLayout {
  display: contents;

  > .Tabs {
    grid-area: tabs;
    background: $layoutTabsBackground;
  }


  main {
    $spacing: $margin * 2;

    grid-area: main;
    overflow-y: scroll; // always reserve space for scrollbar (17px)
    overflow-x: auto;
    margin: $spacing;
    margin-right: 0;
  }
}