.topBar {
  display: grid;
  grid-template-columns: [title] 1fr [controls] auto;
  grid-template-rows: var(--main-layout-header);
  grid-template-areas: "title controls";
  background-color: var(--layoutBackground);
  z-index: 1;
}

.title {
  @apply font-bold;
  color: var(--textColorAccent);
  align-items: center;
  justify-content: center;
  display: flex;
}

.controls {
  align-self: flex-end;
  padding-right: 1.5rem;
  align-items: center;
  display: flex;
  height: 100%;
}