.WizardLayout {
  $spacing: $padding * 2;

  position: relative;
  padding: $padding * 2;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 40%;

  > * {
    @include custom-scrollbar-themed;
    --flex-gap: #{$spacing};
    padding: $spacing;
  }

  > .head-col {
    position: sticky;
    justify-content: space-between;
    background-color: $clusterMenuBackground;
  }

  > .content-col {
    margin-right: $spacing;
    background-color: $contentColor;
    border-radius: $radius;

    > div {
      flex: 1;
    }

    > .error {
      border-radius: $radius;
      padding: $padding;
      background-color: pink;
    }
  }

  > .info-col {
    background-color: $contentColor;
  }

  p {
    line-height: 140%;
  }

  a {
    color: $colorInfo;
  }

  &.centered {
    .content-col {
      margin: 0;

      > div {
        margin: 0 auto;
        width: 60%;
        min-width: 570px;
        max-width: 1000px;
      }
    }
  }
}