.WizardLayout {
  $spacing: $padding * 2;

  position: relative;
  padding: $padding * 3;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 40%;

  > * {
    @include custom-scrollbar;
    --flex-gap: #{$spacing};
    padding: $spacing;
  }

  > .head-col {
    position: sticky;
    background-color: var(--clusters-menu-bgc);
    border-bottom: 1px solid $grey-800;
  }

  > .content-col {
    margin-right: $spacing;
    background-color: var(--clusters-menu-bgc);
    border-radius: $radius;

    > .error {
      border-radius: $radius;
      padding: $padding;
      background-color: pink;
    }
  }

  > .info-col {
    border-left: 1px solid #353a3e;
  }

  p {
    line-height: 140%;
  }

  a {
    color: $colorInfo;
  }
}