.warning {
  display: flex;
  margin-top: var(--margin);
  padding: calc(var(--padding) * 2) calc(var(--padding) * 3);
  border-radius: 4px;
  align-items: center;
  background: #fad8d7;
  color: #797979;
}

.warningIcon {
  margin-right: calc(var(--margin) * 2.4);
  font-size: 26px;
}

.dialog {
  > div {
    border-radius: 4px;
    background-color: white;
    max-width: 600px;
    min-width: calc(45 * var(--unit));
  }

  b {
    word-break: break-all;
  }
}

.dialogContent {
  padding: calc(var(--padding) * 2) calc(var(--padding) * 3);
}

.dialogButtons {
  display: flex;
  border-radius: 4px;
  justify-content: flex-end;
  padding: calc(var(--padding) * 2);
  background: #f4f4f4;

  > * {
    margin-left: var(--margin)
  }
}

.hr {
  margin-top: calc(var(--margin) * 3);
  height: 1px;
  background: #dfdfdf80;
}