.InfoPanel {
  @include hidden-scrollbar;

  background: $dockInfoBackground;
  border-bottom: 1px solid $dockInfoBorderColor;
  padding: $padding $padding * 2;
  flex-shrink: 0;

  .Spinner {
    margin-right: $padding;
  }

  > .controls {
    white-space: nowrap;
    flex: 1 1;

    &:not(:empty) + .info {
      min-height: 25px;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}