.InfoPanel {
  @include hidden-scrollbar;

  background: var(--dockInfoBackground);
  padding: var(--padding) calc(var(--padding) * 2);
  flex-shrink: 0;

  .Spinner {
    margin-right: var(--padding);
  }

  .Badge {
    background-color: var(--dockBadgeBackground);
  }

  > .controls {
    white-space: nowrap;
    flex: 1 1;

    &:not(:empty) + .info {
      min-height: 25px;
      padding-left: var(--padding);
      padding-right: var(--padding);
    }
  }
}