.PodLogs {
  .logs {
    @include custom-scrollbar;

    // fix for `this.logsElement.scrollTop = this.logsElement.scrollHeight`
    // `overflow: overlay` don't allow scroll to the last line
    overflow: auto;

    color: $textColorAccent;
    background: $logsBackground;
    line-height: var(--log-line-height);
    border-radius: 2px;
    padding: $padding * 2;
    font-family: $font-monospace;
    font-size: smaller;
    white-space: pre;
    flex-grow: 1;

    > div {
     // Provides font better readability on large screens
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  .new-logs-sep {
    position: relative;
    display: block;
    height: 0;
    border-top: 1px solid $primary;
    margin: $margin * 2 0;

    &:after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      content: 'new';
      background: $primary;
      color: white;
      padding: $padding / 3;
      border-radius: $radius;
    }
  }

  .jump-to-bottom {
    position: absolute;
    right: 30px;
    padding: $unit / 2 $unit * 1.5;
    border-radius: $unit * 2;
    opacity: 0;
    transition: opacity 0.2s;

    &.active {
      opacity: 1;
    }

    .Icon {
      --size: $unit * 2;
    }
  }
}