.PodLogs {
  .logs {
    @include custom-scrollbar;

    // fix for `this.logsElement.scrollTop = this.logsElement.scrollHeight`
    // `overflow: overlay` don't allow scroll to the last line
    overflow: auto;

    position: relative;
    color: $textColorAccent;
    background: $logsBackground;
    flex-grow: 1;

    .find-overlay {
      position: absolute;
      border-radius: 2px;
      background-color: #8cc474;
      margin-top: 4px;
      opacity: 0.5;
    }

    .VirtualList {
      height: 100%;

      .list {
        .LogRow {
          padding: 2px 16px;
          height: 18px;  // Must be equal to lineHeight variable in pod-logs.scss
          font-family: $font-monospace;
          font-size: smaller;
          white-space: pre;
          -webkit-font-smoothing: auto; // Better readability on non-retina screens

          &:hover {
            // TODO: Use a theme var to styling
            background: #35373a;
          }

          span {
            border-radius: 2px;
            background-color: #8cc474b8;
            -webkit-font-smoothing: auto;

            &.active {
              background-color: orange;
            }
          }
        }
      }
    }
  }

  .new-logs-sep {
    position: relative;
    display: block;
    height: 0;
    border-top: 1px solid $primary;
    margin: $margin * 2 0;

    &:after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      content: 'new';
      background: $primary;
      color: white;
      padding: $padding / 3;
      border-radius: $radius;
    }
  }

  .jump-to-bottom {
    position: absolute;
    right: 30px;
    padding: $unit / 2 $unit * 1.5;
    border-radius: $unit * 2;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 2;
    top: 20px;

    &.active {
      opacity: 1;
    }

    .Icon {
      --size: $unit * 2;
    }
  }
}