.PodLogs {
  --overlay-bg: #8cc474b8;
  --overlay-active-bg: orange;

  .logs {
    @include custom-scrollbar;

    // fix for `this.logsElement.scrollTop = this.logsElement.scrollHeight`
    // `overflow: overlay` don't allow scroll to the last line
    overflow: auto;

    position: relative;
    color: $textColorAccent;
    background: $logsBackground;
    flex-grow: 1;

    .VirtualList {
      height: 100%;

      .list {
        .LogRow {
          padding: 2px 16px;
          height: 18px;  // Must be equal to lineHeight variable in pod-logs.scss
          font-family: $font-monospace;
          font-size: smaller;
          white-space: pre;

          &:hover {
            background: $logRowHoverBackground;
          }

          span {
            -webkit-font-smoothing: auto; // Better readability on non-retina screens
          }

          span.overlay {
            border-radius: 2px;
            -webkit-font-smoothing: auto;
            background-color: var(--overlay-bg);

            span {
              background-color: var(--overlay-bg)!important; // Rewriting inline styles from AnsiUp library
            }

            &.active {
              background-color: var(--overlay-active-bg);

              span {
                background-color: var(--overlay-active-bg)!important; // Rewriting inline styles from AnsiUp library
              }
            }
          }
        }
      }
    }
  }

  .jump-to-bottom {
    position: absolute;
    right: 30px;
    padding: $unit / 2 $unit * 1.5;
    border-radius: $unit * 2;
    opacity: 0;
    z-index: 2;
    top: 20px;

    &.active {
      opacity: 1;
    }

    .Icon {
      --size: $unit * 2;
    }
  }

  .PodLogControls {
    .Select {
      min-width: 150px;
    }
  }

  .logs .VirtualList .list {
    overflow-x: scroll!important;
  }

  &.noscroll {
    .logs .VirtualList .list {
      overflow-x: hidden!important; // fixing scroll to bottom issues in PodLogs
    }
  }
}