@import "~xterm";

.TerminalWindow {
  margin: $padding;
  margin-left: $padding * 2;
  margin-top: $padding * 2;

  .theme-light & {
    .xterm-viewport {
      @include custom-scrollbar(dark);
    }
  }

  > .xterm {
    overflow: hidden;
  }

  .xterm-viewport {
    @include custom-scrollbar;
  }
}