.PodTolerations {
  .TableHead {
    background-color: var(--drawerSubtitleBackground);
  }

  .TableCell {
    white-space: normal;
    word-break: normal;

    &.key {
      flex-grow: 3;
    }
  }
}