@mixin namespaceSelectCommon {
  .Icon {
    margin-right: $margin / 2;
  }
}

.NamespaceSelect {
  @include namespaceSelectCommon;

  .Select {
    &__placeholder {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.NamespaceSelectMenu {
  @include namespaceSelectCommon;
}