.Extensions {
  $spacing: $padding * 2;
  --width: 100%;
  --max-width: auto;

  .extensions-list {
    .extension {
      --flex-gap: $padding / 3;
      padding: $padding $spacing;
      background: $colorVague;
      border-radius: $radius;

      &:not(:first-of-type) {
        margin-top: $spacing;
      }
    }
  }

  .extensions-info {
    --flex-gap: #{$spacing};

    > .flex.gaps {
      --flex-gap: #{$padding};
    }

    .install-extension {
      .Clipboard {
        font-size: $font-size-small;

        &:hover {
          color: $textColorSecondary;
        }
      }
    }
  }

  .extensions-path {
    word-break: break-all;

    &:hover code {
      color: $textColorSecondary;
      cursor: pointer;
    }
  }

  .WizardLayout {
    padding: 0;

    .info-col {
      flex: 0.6;
      align-self: flex-start;
    }
  }

  .SearchInput {
    margin-top: $margin / 2;
    margin-bottom: $margin * 2;
    max-width: none;

    > label {
      padding: $padding $padding * 2;
      border-radius: $radius;
    }
  }
}