.Extensions {
  .Badge.extension {
    display: flex;
    margin: 0;
    padding: $padding $padding * 2;

    .name {
      color: $textColorAccent;
      padding-bottom: $padding;
    }
  }

  .info-col {
    flex: 0.6;
  }
}