.Extensions {
  $spacing: $padding * 2;
  --width: 100%;
  --max-width: auto;

  .extensions-list {
    .extension {
      --flex-gap: $padding / 3;
      padding: $padding $spacing;
      background: $colorVague;
      border-radius: $radius;

      &:not(:first-of-type) {
        margin-top: $spacing;
      }
    }
  }

  .extensions-info {
    --flex-gap: #{$spacing};

    > .flex.gaps {
      --flex-gap: #{$padding};
    }
  }

  .extensions-path {
    word-break: break-all;

    &:hover code {
      color: $textColorSecondary;
      cursor: pointer;
    }
  }

  .Clipboard {
    display: inline;
    vertical-align: baseline;
    font-size: $font-size-small;

    &:hover {
      color: $textColorSecondary;
    }
  }

  .SearchInput {
    --spacing: #{$padding};
    width: 100%;
    max-width: none;
  }

  .WizardLayout {
    padding: 0;

    .info-col {
      flex: 0.6;
      align-self: flex-start;
    }
  }
}

.InstallingExtensionNotification {
  .remove-folder-warning {
    font-size: $font-size-small;
    font-style: italic;
    opacity: .8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    code {
      display: inline;
      color: inherit;
    }
  }

  .Button {
    background-color: unset;
    border: 1px solid currentColor;
    box-shadow: none !important;
  }
}
