.PageLayout.Extensions {
  $spacing: $padding * 2;
  width: 100%;

  .contentRegion {
    .content {
      max-width: 740px;
    }
  }
}

.InstallingExtensionNotification {
  .remove-folder-warning {
    font-size: $font-size-small;
    font-style: italic;
    opacity: .8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    code {
      display: inline;
      color: inherit;
    }
  }

  .Button {
    background-color: unset;
    border: 1px solid currentColor;
    box-shadow: none !important;
  }
}
