.ClusterIcon {
  --size: 40px;

  position: relative;
  opacity: .75;
  border-radius: $radius;
  cursor: pointer;

  &.active, &.interactive:hover {
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 0 0 $radius #fff;
  }

  > img {
    width: var(--size);
    height: var(--size);
  }

  .Badge {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}