.ClusterSettings {
  grid-template-columns: unset;

  .info-col {
    display: none;
  }

  .content-col {
    margin: 0;
    padding-top: $padding * 3;

    .SubTitle {
      text-transform: none;
    }

    .settings-wrapper {
      margin: 0 auto;
      width: 70%;
      min-width: 690px;

      > div {
        margin-top: $margin * 3;
      }

      .admin-note {
        font-size: small;
        opacity: 0.5;
        margin-left: $margin;
      }
    }
  }

  .status-table {
    margin: $margin * 3 0;

    .Table {
      border: 1px solid var(--drawerSubtitleBackground);
      border-radius: $radius;

      .TableRow {
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--drawerSubtitleBackground);
        }

        &.value {
          color: var(--textColorSecondary);
        }
      }
    }
  }

  .loading {
    margin-top: 20px;
    text-align: center;

    .Spinner {
        display: inline-block;
    }
  }

  .Input,.Select {
    margin-top: 10px;
  }

  .Icon:not(.updated):not(.clean) {
    color: #ad0000;
  }

  .Icon.updated {
    color: #00dd1d;
  }

  .updated {
    animation: updated-name 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  }

  @keyframes updated-name {
    from {opacity :1;}
    to {opacity :0;}
  }


  input[type="text"]::placeholder {
    font-size: small;
    color: #707070;
  }

  input[type="text"] {
    color: white;
  }

  button {
    margin-top: 5px;

    .Spinner {
        width: 10px;
        height: 10px;
        border-color: transparent black;
    }
  }
}