.ClusterIcon {
  --size: 37px;

  position: relative;
  border-radius: $radius;
  padding: $radius;
  user-select: none;
  cursor: pointer;

  &.active, &.interactive:hover {
    background-color: #fff;

    img {
      opacity: 1;
    }
  }

  img {
    opacity: .55;
    width: var(--size);
    height: var(--size);
  }

  .Badge {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: -$padding * 1.5;
  }
}