.ClusterSettings {
  grid-template-columns: unset;

  .info-col {
    display: none;
  }

  .content-col {
    margin: 0;
    padding-top: $padding * 3;

    .SubTitle {
      text-transform: none;
    }

    .settings-wrapper {
      margin: 0 auto;
      width: 60%;
      min-width: 570px;
      max-width: 1000px;

      > div {
        margin-top: $margin * 5;
      }

      .admin-note {
        font-size: small;
        opacity: 0.5;
        margin-left: $margin;
      }

      button {
        margin-top: $margin * 2;
      }
    }
  }

  .status-table {
    margin: $margin * 3 0;

    .Table {
      border: 1px solid var(--drawerSubtitleBackground);
      border-radius: $radius;

      .TableRow {
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--drawerSubtitleBackground);
        }

        .value {
          flex-grow: 2;
          color: var(--textColorSecondary);
        }
      }
    }
  }

  .Input,.Select {
    margin-top: 10px;
  }
}