.ClusterIcon {
  --size: 37px;

  position: relative;
  opacity: .55;
  border-radius: $radius;
  padding: $radius;
  user-select: none;
  cursor: pointer;

  &.active, &.interactive:hover {
    opacity: 1;
    background-color: #fff;
  }

  > img {
    width: var(--size);
    height: var(--size);
  }

  .Badge {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: -$padding * 1.5;
  }
}