.ClusterSettings {
  .WizardLayout {
    grid-template-columns: unset;
    grid-template-rows: 76px 1fr;
    padding: 0;

    .head-col {
      justify-content: space-between;

      :nth-child(2) {
        flex: 1 0 0;
      }
    }

    .content-col {
      margin: 0;
      padding-top: $padding * 3;
      background-color: $clusterSettingsBackground;

      .SubTitle {
        text-transform: none;
      }

      > div {
        margin-top: $margin * 5;
      }

      .admin-note {
        font-size: small;
        opacity: 0.5;
        margin-left: $margin;
      }

      .button-area {
        margin-top: $margin * 2;
      }

      .file-loader {
        margin-top: $margin * 2;
      }

      .hint {
        font-size: smaller;
        opacity: 0.8;
      }

      p + p, .hint + p {
        padding-top: $padding;
      }
    }

    .status-table {
      margin: $margin * 3 0;

      .Table {
        border: 1px solid var(--drawerSubtitleBackground);
        border-radius: $radius;

        .TableRow {
          &:not(:last-of-type) {
            border-bottom: 1px solid var(--drawerSubtitleBackground);
          }

          .value {
            flex-grow: 2;
            word-break: break-word;
            color: var(--textColorSecondary);
          }

          .link {
            @include pseudo-link;
          }
        }
      }
    }

    .Input, .Select {
      margin-top: 10px;
    }

    .Select {
      &__control {
        box-shadow: 0 0 0 1px $borderFaintColor;
      }
    }
  }
}